.Logo {
    max-width: 40px;
    margin-left: 15px;
}

.modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-json {
    background-color: #fefefe;
    height: 50vh;
    overflow-y: auto;
}

.delete-modal-size {
    width: 25vw;
    max-width: 25vw;
}

.file-uploader-area {
    display: table-cell;
    border: black dashed 2pt;
    border-radius: 2em;
    text-align: center;
    vertical-align: middle;
    width: 50vw;
    max-width: 50vw;
    height: 20vh;
    max-height: 20vh;
}

.file-uploader-area:hover {
    background-color: #efefef;
    cursor: pointer;
}

.dragover {
    background-color: #efefef;
}

.file-uploader {
    opacity: 0;
    visibility: hidden;
}

.custom-checkbox-input {
    outline: 1px solid #ffffff;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(17, 116, 186, 0.8);
}

.project-structure {
    border: 1px solid black;
    background-color: #fefefe;
    height: 57.5vh;
    overflow-y: auto;
}

.projects-list {
    border: 1px solid black;
    background-color: #fefefe;
    height: 75vh;
    overflow-y: auto;
}

.projects-roles-list {
    border: 1px solid black;
    background-color: #fefefe;
    height: 15vh;
    overflow-y: auto;
}

.projects-form-list {
    background-color: #fefefe;
    height: 10vh;
    overflow-y: auto;
}

.footer {
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
    color: #1a1a1a;
    bottom: 0;
}

