.Logo {
    max-width: 40px;
    margin-left: 15px;
}

.modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal {
    width: 20vw;
    max-width: 20vw;
}