.Logo {
    max-width: 40px;
    margin-left: 15px;
}

.modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal-size {
    width: 25vw;
    max-width: 25vw;
}

.file-uploader-area {
    display: table-cell;
    border: black dashed 2pt;
    border-radius: 2em;
    text-align: center;
    vertical-align: middle;
    width: 50vw;
    max-width: 50vw;
    height: 20vh;
    max-height: 20vh;
}

.file-uploader-area:hover {
    background-color: #efefef;
    cursor: pointer;
}

.dragover {
    background-color: #efefef;
}

.file-uploader {
    opacity: 0;
    visibility: hidden;
}

